<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-laptop"></i>
            <p>
                데이터 분석
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>

        <ul class="nav nav-treeview">
            @foreach (var menu in ViewBag.MenuList)
            {
                <li class="nav-item active">
                    <a href="/Home/@menu.MenuAM?page=1" class="nav-link @(ViewBag.SelectedAM == menu.MenuAM ? "active" : "")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@menu.MenuName</p>
                    </a>
                </li>
            }
        </ul>
    </li>
    <li class="nav-item @(ViewBag.SelectedAM == "Schedule" ? "active" : "")">
        <a href="/Home/Schedule?page=1" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                월별 스케쥴 조회
            </p>
        </a>
    </li>
</ul>

